go 1.18

use (
	./core
	./mini_game/roulette
	./mini_game/racing_car
	./mini_game/fast_three
	./mini_game/baccarat
	./mini_game/niu_niu
	./mini_game/pc28
	./mini_game/long_hu
	./mini_game/shi_shi_cai
	./shared
)
